form{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.body{
    text-align: center;
}
.form-registration div{
    max-width: 400px;
}