.div-game-name{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.game-all-services{
    
        height: 60px;
    
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
}
.div-game-services{
    height: 100vh;
}